@use '../variables' as d;

// For breakpoints
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;



    .board-design {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: d.$font-size-s;
        color: d.$color-gray-300;
        margin: 6px 0 0 2rem;
        padding:  0.60rem;
        border-radius: d.$border-radius-sm;
        background-color: d.$color-gray-600;
        font-weight: 600;

        &:hover {
            background-color: d.$color-blue-50;
            transition: 0.2s;
        }
        
        svg {
            display: flex;
            align-items: center;
        }
    }



}